<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
      
    </style>
    <style type="text/css">
      label{
        display: block;
        width: 80%;
        margin-top:30px;
      }
      input[type=text]{
        width: 80%;
        margin-top:5px;
      }
      body{
        background-color: rgb(20, 20, 20);
      }
      .contenido{
        background-color: rgb(220, 220, 220);
        margin: 20px;
        padding: 100px;
        border-radius: 40px;
      }
      .error{
        
      }
    </style>
  </head>
  <body>
    <div class="contenido">
          
          {%block contenido%}
          {%endblock%}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

  </body>
</html>