{%extends 'tutoria/base.html' %}

{%block contenido%}
<h1>Modificación de datos</h1>

<div class='mensaje'>
    {{mensaje}}
</div>
Estos son los datos almacenados. Si necesitas modificar algo puedes hacerlo ahora y luego pulsar
el botón que verás más abajo. Si todo está bien puedes cerrar el navegador tranquilamente. <br/>¡Y gracias por tu colaboración!

<form action="{% url 'tutoria:editar' dni %}" method='post'>
{% csrf_token %}
<table>
{{form_alumno.as_p}}
</table>
<input type="submit" value="Guardar"/>
</form>

{%endblock%}