{% extends "programaciones/base.html" %}
{% block contenido %}
<h1>Editando '{{nombre_programacion}}' para ciclo {{nombre_ciclo}}</h1>

<div class="mensaje_error"></div>
<form action="{% url 'programaciones:editar_objetivos_generales' id_programacion %}" method="post">
    {% csrf_token %}
<table>
{{formulario}}

</table>
<input type="submit" value="Guardar cambios">
</form>

<br/>
También puedes:

<ul>
    <li>
        <a href="{% url 'programaciones:editar' id_programacion %}">
            Volver a editar la programación
        </a>
    </li>
</ul>

{% endblock %}